.brands {
    margin-bottom: 3rem;
    padding: 1rem;

    &__items {
        display: flex;
        gap: 2rem;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__item {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 35%;
    }

    &__item img {
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 50%;
    }
}
@include md {
    .brands {
        &__item {
            flex-basis: 20%;
        }
        &__items {
           gap: 1rem;
        }
    }
}
